---
import { Icon } from 'astro-icon/components';

import menu from "@/config/menu.json"

interface Social {
    name: string,
    url: string,
}
interface FooterCategoryItem {
    name: string,
    url: string
}
interface FooterMenu {
    category: string,
    items: FooterCategoryItem[]
}
interface Footer {
    footerMenu: FooterMenu[],
    socials: Social[],
}
const { footer }: { footer: Footer } = menu;
---

<footer class="bottom-0 bg-primary-500 rounded-t-2xl">
    <div class="px-24 pt-10 pb-2 max-sm:px-5 max-sm:pt-6 max-sm:pb-2 max-w-7xl mx-auto">
        <div class="flex justify-between">
            {footer.footerMenu.map((footerMenu: FooterMenu) => 
                <ul class="flex flex-col items-start gap-0.5 text-background-50">
                    <li class="font-bold underline decoration-primary-200">{footerMenu.category}</li>
                    {
                        footerMenu.items.map((menuItem: FooterCategoryItem)=>
                            <li class="font-light"><a href={menuItem.url}>{menuItem.name}</a></li>
                        )
                    }
                </ul>
            )}
            <ul class="flex flex-col items-start gap-0.5 text-background-50">
                <li class="font-bold underline decoration-primary-200">Соц. сети</li>
                {footer.socials.map((socialsItem: Social)=>
                    <li class="font-light">
                        <a href={socialsItem.url} target="_blank" class="flex gap-2 items-center">
                            <Icon name={socialsItem.name} title={socialsItem.name} width={16} height={16} />
                            <p class="first-letter:uppercase">{socialsItem.name}</p>
                        </a>
                    </li>
                )}
            </ul>
        </div>
        <div class="flex flex-col items-center text-sm font-semibold text-background-50 max-sm:static max-sm:mt-2">
            <p>All rights reserved</p>
            <p>© CinemaAddict 2024</p>
        </div>
    </div>
</footer>